
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">新增国家分类</h2>

      <hr>
      <%= simple_form_for [:admin, @country_category] do |f| %>
        <div class="form-group">
          <%= f.input :title, :label => "分类名称" %>
          <hr>
        </div>
        <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
      <% end %>

    </div>
  </div>
</div>
