<div class="container">

  <!-- 网站简介 -->

  <div class="container">
    <div class="row">
      <!-- <div class="col-md-3">
        <a href="/">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fhuya5x50tj309509n76y.jpg" alt="尚德信" width="100" height="100"></img>
        </a>
      </div> -->
      <div class="about-title-box">
        <a href="/" target="_blank">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fhuya5x50tj309509n76y.jpg" alt="尚德信" width="100" height="100"></img>
        </a>
        <span class="about-title-e">About SoundCredit</span><br>
        <!-- <h1 class="about-title-c">关于 我们</h1> -->
      </div>
    </div>
  </div>



  <p class="about-info">
    武汉尚德信出国咨询有限公司自成立以来一直专注于海外投资移民业务，<br>
    以专业的外籍律师团队、完善的客户服务体系、贴心的海外安家服务，<br>
    与战略合作伙伴携手为客户提供高品质、诚信的海外投资移民咨询、文案制作、海外接待以及多种增值服务，<br>
    立志让所有尚德信投资移民的客户都享受到尊贵的一站式专属移民服务。
  </p>
  <p class="about-info">
    ◆合法资质，法律保证。<br>
    武汉尚德信出国咨询有限公司系公安部批准的专业因私出入境中介机构（鄂公境准字【2010】年007号），为公民提供赴美国、加拿大、新加坡、英国、澳大利亚、荷兰定居、探亲、访友、继承财产和其他非公务活动提供信息介绍、法律咨询、沟通联系、境外安排、签证申办及相关的服务。
    <br>
    ◆精英团队，实力雄厚。
    <br>
   公司高级咨询顾问均有多年的加拿大、美国等国生活工作背景，对当地的移民政策、生活、教育情况非常了解，能给您最翔实的第一手建议。公司移民顾问平均从业年限达十年，丰富的经验、专业的知识，为你解决各类疑难问题。
   公司常年聘请国际知名的加拿大、美国大律师，与多家律师事务所精诚合作，为客户的申请把关、保驾护航。此外，公司拥有众多资深、实力雄厚的境内外合作方，银行、基金公司，为客户解决各类境内外法律、金融、理财等问题。
   <br>
   ◆专业文案，贴心服务。
   <br>
   我公司的文案团队系武汉市最大规模的专业文案团队，文案人员拥有平均8-10年的从业经验，均为英语专业八级水平，拥有专业的英语、财务等专业背景知识，为客户准备最专业的文案资料。
   <br>
   ◆成功案例，成功保证。
   <br>
   公司拥有上百例成功案例，针对各种行业、各种背景的客户均能量身定制，有例可循。
   <br>
   ◆全程VIP服务，为您解除各种后顾之忧。
   从客户咨询、签约、申请、面谈、签证、行前准备，到登陆，入籍。武汉尚德信出国咨询有限公司一直致力于为客户提供完善的售前、售中、售后服务。
   <br>
   ◆尚德信为VIP客户及已成功登陆客户成立了旅加、旅美华人沙龙。
   沙龙经常举办一些活动，包括各种聚会、晚宴、及外出参观旅游。通过这些活动，帮助尚德信的成功客户尽快熟悉加拿大、美国、新加坡等当地的生活，结交朋友，建立一定的社会关系网。
   <br>


   ◆专为投资移民企业家的孩子，设计人生教育规划！
   <br>
   ◆专为企业家移民后在海外开办企业，提供一站式服务！
   <br>
   ◆专为企业家移民后在海外进入华人主流社圈提供平台。
    如：子女教育、高尔夫、游艇、摄影、养生沙龙聚会！
   <br>
   武汉尚德信出国咨询有限公司历经近十年发展，锐意进取，以蓬勃的斗志、专业服务的精神，成为整个华中地区投资移民第一品牌，引领着投资移民行业发展方向，帮您实现理想精致生活！
  </p>






</div>
