/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import 'wangEditor';
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效



 // 整体设置
 html {
    height: 100%;                                        // footer固定底部
    }
 body {
     min-height: 100%;                                   // footer固定底部
     display: flex;                                      // footer固定底部
     flex-direction: column;                             // footer固定底部
     font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
     //padding-top: 50px;                                  // 腾出navbar的遮挡空间
     color: #666;                                        // 修改全站的 字体主色
     font-size: 1.2em;                                   // 网站所有字体缩小比例
    .content {
      flex: 1;                                           // footer固定底部
    }
    a {                                                 // 所有a标签统一样式
      color: #666;                                      // 链接反转的样式
      transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
    }
    a:hover {
      color: #7f8c8d;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
      text-decoration: none;                            // 移除下划线
    }
  }

  .all_image_css {
    transition: 0.8s;
  }


  .all_image_css:hover {
    filter:alpha(Opacity=100);
    -moz-opacity:0.4;
    opacity: 0.7;
    transition: 0.8s;
  }

  // navbar设置
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-header .navbar-brand{
    height: auto;
  }

  .navbar-header .navbar-toggle{
    margin-top: 18px;
  }

  .navbar-style .navbar-nav > li > a {
    line-height:30px;

  }
  .navbar-style {
    // background: #f5f5f5;
    background: #323242;
    border-color: transparent;                          //边框颜色设置为 透明
  }
  .navbar-brand {
    letter-spacing: 0.1em;                              //拉开一点点字间距
    font-weight:lighter;                                   //字体粗细比默认样式缩小100磅值，让logo显得精致高级
  }

  .navbar-brand > img{
     display: inline-block;	//图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
    //  width: 32px; //定制图片宽度
     height: 48px; //定制图片高度
  }

  .li-style {
    color: #666;                                        // 修改全站的 字体主色
    font-size: 0.8em;
    a {                                                 // 所有a标签统一样式
      color: #666;                                      // 链接反转的样式
      transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
    }
    a:hover {
      color: #7f8c8d;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
      text-decoration: none;                            // 移除下划线
    }
  }

  .navbar-default .navbar-nav > li > a{
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #216efe;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6F00;
  background-color: #216efe;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #216efe;
    color: #ffffff;
}

.navbar-default .dropdown-menu {
  padding-top: 0px;
  padding-bottom:0px;
}
.navbar-default .dropdown-menu > li > a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar-default .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #216efe;
}

.wdt100 {
  width: 150px;
}

.topheader .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.topheader .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

  // 搜索栏设置
  #custom-search-input{
    padding: 1px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
  }

  #custom-search-input input{
      border: 0;
      box-shadow: none;
  }

  #custom-search-input button{
      margin: 2px 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #666666;
      padding: 0 8px 0 10px;
      border-left: solid 1px #ccc;
  }

  #custom-search-input button:hover{
      border: 0;
      box-shadow: none;
      border-left: solid 1px #ccc;
  }

  #custom-search-input .glyphicon-search{
      font-size: 15px;
  }

  //首页主题内容样式
  .landing-page-topic{                                   //给图片整好形
    //height: 534px;
    background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
    //background-image: url(https://ooo.0o0.ooo/2017/05/12/59156f9f3b09c.jpg);
    background-color: #f1f1f1;
    padding-bottom:30px;
  }
  .landing-page-topic .tagline {                          //编写标题样式
    text-align: center;
    color: #666;
    //letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
    font-size: 2em;
    margin-top: 2.8em;
    //margin-bottom: 2em;
  }

  .landing-page-topic .subtits {                          //编写标题样式
    text-align: center;
    color: #666;
    //letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .landing-page-topic .tagp {                             //编写内容样式
    text-align: center;
    color: #666;
    font-size: 1.3em;
    //margin-top: 2.5em;
    line-height: 2.5em;                                 //行间距也要拉开大一些
    letter-spacing: 0.18em;
                                //把字间距撑开，视觉感更优雅
  }

  .landing-page-topic .col-xs-6.col-sm-6.col-md-3{

    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }


  // 中间区域介绍内容样式
  .landing-page-mid {                                   //给图片整好形
    //height: 534px;
    background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
    //background-image: url(https://ooo.0o0.ooo/2017/05/12/59156f9f3b09c.jpg);
    //background-color: #f1f1f1;
    padding-bottom:30px;
  }
  .landing-page-mid .tagline {                          //编写标题样式
    text-align: center;
    color: #666;
    //letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
    font-size: 2em;
    margin-top: 2.8em;
    margin-bottom: 1em;
  }
  .landing-page-mid .tagp {                             //编写内容样式
    text-align: center;
    color: #666;
    font-size: 1.3em;
    //margin-top: 2.5em;
    line-height: 2.5em;                                 //行间距也要拉开大一些
    letter-spacing: 0.18em;
    margin-bottom: 3em;
                                //把字间距撑开，视觉感更优雅
  }

  .landing-page-mid .col-xs-6.col-sm-6.col-md-3 {

    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }

// 服务优势介绍
.landing-page-svadg {
 //height: 534px;
 //background-color: #f1f1f1;
}
.landing-page-svadg .tagline {                          //编写标题样式
  text-align: center;
  color: #666;
  //letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
  font-size: 2em;
  margin-top: 2.8em;
  margin-bottom: 2em;
}

.landing-page-svadg .subtits {                          //编写标题样式
  text-align: center;
  color: black;
  letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
  font-size: 1.3em;
  margin-top: 1.5em;

}

.landing-page-svadg .subspan {
    text-align: center;
    color: #7f8c8d;
    letter-spacing: 0.1em;
    //font-size: 1.3em;
    //margin-top: 3.8em;
    margin: 1em 0 6.8em;
}

.landing-page-svadg .titspan {
  text-align: center;
  color: #666;
  font-size: 24px;
  line-height: 2.5em;                                 //行间距也要拉开大一些
  letter-spacing: 0.18em;                             //把字间距撑开，视觉感更优雅
}

// 服务特点区块介绍样式
 .landing-page-svc {
  //height: 534px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
 }
 .landing-page-svc .tagline {                          //编写标题样式
   text-align: center;
   color: #666;
   //letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
   font-size: 2em;
   margin-top: 2.8em;
   //margin-bottom: 2em;
 }

 .landing-page-svc .subtits {                          //编写标题样式
   text-align: center;
   color: black;
   //letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
   font-size: 1.3em;
   margin-top: 1.8em;
   margin-bottom: 3.8em;
 }

 .landing-page-svc .subspan {
     text-align: center;
     color: #7f8c8d;
     letter-spacing: 0.1em;
     font-size: 1.3em;
     margin-top: 3.8em;
     /* margin-bottom: 3.8em; */
 }

 .landing-page-svc .titspan {
   text-align: center;
   color: #666;
   font-size: 24px;
   line-height: 2.5em;                                 //行间距也要拉开大一些
   letter-spacing: 0.18em;                             //把字间距撑开，视觉感更优雅
 }

 .landing-page-svc .tagp {                             //编写内容样式
   text-align: center;
   color: #666;
   font-size: 1.3em;
   //margin-top: 2.5em;
   line-height: 2.5em;                                 //行间距也要拉开大一些
   //letter-spacing: 0.18em;
   margin-bottom: 3em;
                               //把字间距撑开，视觉感更优雅
 }
  // 区块分类标识样式（用于区分 商品 和 课程）
  .topspan {
    margin-top: 2em;
  }
  .titspan {
    font-weight: 400
  }
  .morespan {
    margin: 2em auto;
  }

  // 教程区域样式设置
  .product-course-box-1 {
    background-color: #7f8c8d;
    padding: 30px 30px;
    color: #fff;
    text-align: center;
    a {
      color: #fff;
    }
    a:hover {
      color: #f5f5f5;
    }
  }
  .product-course-box-2 {
    background-color: #8d827f;
    padding: 30px 30px;
    color: #fff;
    text-align: center;
    a {
      color: #fff;
    }
    a:hover {
      color: #f5f5f5;
    }
  }
  .product-course-box-3 {
    background-color: #8d7f85;
    padding: 30px 30px;
    color: #fff;
    text-align: center;
    a {
      color: #fff;
    }
    a:hover {
      color: #f5f5f5;
    }
  }

  // 商品展示列表样式设置，为商品栏做好排版整形
  .product-list-style {                                 //图片+文字 块样式整形
    margin: 1.5em auto 1em;
  }
  .product-list-style-img {                             //文字 块样式整形
   margin-bottom: 1.2em;
  }



  .all-product-box {
    margin-bottom: 3em;
  }

  //用户评价版面样式
  .landing-page-eva {
    background-color: #f5f5f5;
    padding-bottom: 6em;
  }
  .landing-page-eva .tagline {                          //编写标题样式
    text-align: center;
    color: #666;
    //letter-spacing: 0.2em;                              //把字间距撑开，视觉感更优雅
    font-size: 2em;
    margin-top: 2.8em;
    margin-bottom: 3em;
  }
  .landing-page-eva-style {
    //margin-top: 2em;
    text-align: justify;
    line-height: 2em;
  }


  //”彩蛋“”公告栏样式
  .landing-page-adv {
    padding: 40px 0px;
    // padding-bottom: 2em;
    background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://i.loli.net/2017/08/25/59a048aded301.png");
    color: #fff;

  }
  .landing-page-adv h4{
    margin-top: 30px;
    text-align: center;
    font-size: 1.3em;
  }
  .landing-page-adv h5{

    text-align: center;
    font-size: 1.8em;
  }


  //footer样式设置
  .footer-style {
    background-color: #21282c;
    color:white;

  }
  .footer-style h5 {
    margin-top: 2em;
    font-size: 1.6em;
  }
  .footer-style-p {
    text-align: justify;
    line-height: 2em;
    letter-spacing: 0.1em;
  }


  //搜索页面样式 search.html.erb
  .search-info-title {
    font-weight: lighter;
    color: #7f8c8d;
    text-align: center;
  }


  //登录注册页面
  .log-page-bg {
    height: 900px;
    background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ws2.sinaimg.cn/large/006tNc79gy1fi7plt281aj31kw13ye85.jpg)
  }
  .log-page {
    margin-top: 60px;
    border: 3px solid transparent;
    padding: 0 5% 5% 5% ;
    transition: box-shadow 0.6s;
    box-shadow: 5px 0px 40px rgba(0,0,0,.5);
    background-color: rgba(245,245,245,.5);
    color : #212121

  }

  .log-page-title{
    margin-top: 8%;
    margin-bottom: 8%;

  }
  .log-page-title h1{
    font-size: 5em;
    color : #212121
  }

  // 个人中心侧边栏nav样式
  .nav-left-style {
    background-color: #f5f5f5;
    margin: 30px auto;
    height: 500px;
  }


  .navbar-rwd {
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
   width:80%;
   height:2.0em;
  }

  .img-width {
    width: 100%;
  }


//元素置中
  .col-centered{
    float: none;
    margin: 0 auto;
  }

  //袁龙添加的代码
  // 热门活动列表页面装饰图
  .decorative_picture {
    padding-left: 0;    //左内边距
    padding-right: 0;   //右内边距
    //margin-bottom: 30px; //底部外边距撑开30px


  }


  //热门活动列表页活动标题
  .activity-index-title {
    font-size: 20px;   //字体大小
  }

  //热门活动列表页侧边栏上面图
  .activity-author-title-list {
    margin-top: 15px;
  }



  //热门活动列表页侧边栏下面的两张小图
  .activity-index-sidebar-littlepicture {
    padding-left: 0;      //调整两张小图片位置与上面对齐
    margin-bottom: 20px;  //撑开两张小图间的上下距离
    margin-left: -15px;   //调整两张小图片位置与上面对齐
    font-size: 1px;
  }

  //热门活动列表页侧边栏下面的两张小图标题
  .little-picture-title {
   font-size: 1px;
  }

 .activity-subtitle {
   font-size: 12px;
   color: #999;
   padding:5px 0px;
 }

 .linkcolor {
   color:#666;
 }

 .linkspan {
   padding: 0 5px;
 }

 .navbar-style .navbar-nav > li > a{
   font-size: 14px;
 }
