<footer class="footer-style">
  <div class="container">

    <div class="row" style="margin:50px 0;">
      <p class="text-center linkcolor" style="font-size:20px;">武汉尚德信出国咨询有限公司
      </p>
      <p class="text-center linkcolor">地址：武汉市汉口新华路纽宾凯国际酒店2503室 网址：
          <%= link_to("http://www.sdxvisa.com/", about_index_path,class:"linkcolor") %>
      </p>
      <p class="text-center linkcolor">Copyright &copy;2017 尚德信投资移民 - Design by
          <%= link_to("ifstack", about_index_path,class:"linkcolor") %>
      </p>
    </div>
  </div>
</footer>
