<footer class="footer-style">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 text-center" style="margin-top:30px;">
        <!-- <h5>尚德信投资移民</h5> -->
        <div class="" style="display:inline-block;margin-bottom:26px;">
          <img src="https://i.loli.net/2017/08/04/5984026a8ce95.png" alt="" height="64px">
        </div>
        <div class="" style="font-size:16px;line-height:28px;color:#f5d75c;margin-bottom:10px;width:150px;display:inline-block;">
          24小时服务热线
        </div> <br>
        <div class="" style="width:150px;overflow:hidden;display:inline-block;" >
          <div class="" style="float:left;margin-right:10px;" >
            <img src="https://i.loli.net/2017/08/04/598407eaa58b2.png" alt="" height="36px" class="img-responsive">
          </div>

          <div class="" style="float:left;">
            <div class="" style="font-size:10px;line-height:18px;letter-spacing:2px;">
              13971579967
            </div>
            <div class="" style="font-size:10px;line-height:18px;letter-spacing:2px;">
              13971558907
            </div>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6" style="margin-top:30px;">

          <div class="col-xs-4 text-center">
            <div class="" style="font-size:14px;line-height:40px;">
              尚德信服务
            </div>
            <div class="" style="font-size:10px;line-height:20px;">
              美国移民
            </div>
            <div class="" style="font-size:10px;line-height:20px;">
              欧洲移民
            </div>

          </div>
          <div class="col-xs-4 text-center">
            <div class="" style="font-size:14px;line-height:40px;">
              客户指南
            </div>
            <div class="" style="font-size:10px;line-height:20px;">
              常见问题
            </div>
            <div class="" style="font-size:10px;line-height:20px;">
              帮助中心
            </div>

          </div>
          <div class="col-xs-4 text-center">
            <div class="" style="font-size:14px;line-height:40px;">
              关于我们
            </div>
            <div class="" style="font-size:10px;line-height:20px;">
              公司介绍
            </div>
            <div class="" style="font-size:10px;line-height:20px;">
              联系方式
            </div>

          </div>


        <!-- 友情链接 -->
        <div class="footer-sitelink" style="float:left;margin-top:50px; ">
          <span class="linkspan"> 美国移民局 </span> |
          <span class="linkspan"> 美国驻广州总领事馆 </span> |
          <span class="linkspan"> 加拿大移民局 </span> |
          <span class="linkspan"> 美国签证中心  </span> |
          <span class="linkspan"> 香港出入境事务处 </span> |
          <span class="linkspan">  加拿大签证中心 </span> |
          <span class="linkspan">葡萄牙移民局 </span> |
          <span class="linkspan">塞浦路斯移民局 </span> |
          <span class="linkspan">希腊移民局官网 </span> |
          <span class="linkspan">北加州湖北同乡会 </span> |
          <span class="linkspan"> 武汉移民公司 </span> |
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 text-center" style="margin-top:30px;">
        <div class="" style="display:inline-block;width:150px;">
            <img src="https://i.loli.net/2017/08/04/59840fb0eab5a.png" alt="" class="img-width" >
        </div>

      </div>

    </div>
    <br>

    <div class="row">
      <p class="text-center linkcolor">地址：武汉市汉口新华路纽宾凯国际酒店2503室 网址：
          <%= link_to("http://www.sdxvisa.com/", about_index_path,class:"linkcolor") %>
      </p>
      <p class="text-center linkcolor">Copyright &copy;2017 尚德信投资移民 - Design by
          <%= link_to("ifstack", about_index_path,class:"linkcolor") %>
      </p>
    </div>
  </div>
</footer>
